{% extends "base_login.html" %}
{% block content %}
<body class="bg-[#111937]">
    <div class="w-[80%] m-auto mt-14 text-[#FFFF]">
        <div class="">
            <span class="ArimoReg  text-[24px]">MALAYANFOLIO.COM</span>
        </div>
        <div class="m-auto mt-[70px] w-[50%] text-center">
            <div class="">
                <span class="ArimoReg  text-[24px]">LOGIN TO YOUR ACCOUNT</span>
                <hr class="w-[20%] m-auto border-[1.5px] mt-2">
            </div>
            <div class="text-left w-[80%] m-auto mt-12">
                <form method="POST"> {% csrf_token %} 
                    <div class="mt-3">
                        <label>Username</label><br>
                        <input name="username" type="text" class="mt-[6px] w-full focus:ring-[1px] focus:ring-[#6e87da] focus:border-[1px] focus:border-[#6e87da]  {% if err_mess %} border-[2px] border-red-500 {% endif %}">
                    </div>
                    <span class="text-[12px] text-red-500 mt-2" id="acc-error">{{ err_mess }}</span>
                    <div class="mt-3">
                        <label>Password</label><br>
                        <input name="password" type="password" class="mt-[6px] w-full focus:ring-[1px] focus:ring-[#6e87da] focus:border-[1px] focus:border-[#6e87da] {% if err_mess %} border-[2px] border-red-500 {% endif %}">
                    </div>
                    <span class="text-[12px] text-red-500 mt-2" id="acc-error">{{ err_mess }}</span>
            </div>
            <div class="mt-16">
                <button type="submit" class="w-[150px] h-[50px] bg-white text-black ArimoBold text-[18px] ">SIGN IN</button>
                <p class="mt-5 LibreFranklinRegular">Don't have an Account? <a href="{% url 'register-account' %}"><u>Sign up Here</u></a></p>
            </div>
                </form>
        </div>
    </div>
</body>
{% endblock %}